.active-btn {
    background-color: green;
    color: white;
}

.selectColor {
    background-color: green;
    color: white;
}

.quizContainer {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
}